<form
  (ngSubmit)="searchConcerts()"
  class="grid grid-cols-6 items-end gap-2 rounded bg-blue-950 p-3 text-white shadow-lg"
>
  <div>
    <label class="mb-1 block text-xs"> Inicio </label>

    <input
      type="date"
      name="startDate"
      [ngModel]="startDate()"
      (ngModelChange)="startDate.set($event)"
      class="w-full rounded border border-gray-700 bg-gray-900 px-2 py-1 text-sm text-white outline-none focus:border-blue-500"
    />
  </div>

  <div>
    <label class="mb-1 block text-xs"> Fin </label>

    <input
      type="date"
      name="endDate"
      [ngModel]="endDate()"
      (ngModelChange)="endDate.set($event)"
      class="w-full rounded border border-gray-700 bg-gray-900 px-2 py-1 text-sm text-white outline-none focus:border-blue-500"
    />
  </div>

  <div>
    <label class="mb-1 block text-xs"> Artista </label>

    <input
      type="text"
      name="artist"
      [ngModel]="artist()"
      (ngModelChange)="artist.set($event)"
      placeholder="Artista"
      class="w-full rounded border border-gray-700 bg-gray-900 px-2 py-1 text-sm text-white outline-none focus:border-blue-500"
    />
  </div>

  <div>
    <label class="mb-1 block text-xs"> Ubicacion </label>

    <input
      type="text"
      name="location"
      [ngModel]="location()"
      (ngModelChange)="location.set($event)"
      placeholder="Provincia"
      class="w-full rounded border border-gray-700 bg-gray-900 px-2 py-1 text-sm text-white outline-none focus:border-blue-500"
    />
  </div>

  <button
    type="reset"
    class="rounded border border-white px-2 py-1 text-sm transition hover:bg-white hover:text-black"
  >
    Limpiar
  </button>

  <button type="submit" class="rounded bg-blue-600 px-2 py-1 text-sm transition hover:bg-blue-700">
    Buscar
  </button>
</form>
